.header-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lighten(black, 25%);
  padding: 10px;
  overflow: hidden;

  a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
  }
  a:hover {
    color: rgb(189, 189, 189);
  }
  .logo {
    font-size: 40px;
  }
  .header-right {
    float: right;
  }
}

button {
  background-color: rgb(22, 166, 255);
  color: white;
}
button:hover {
  background-color: rgb(71, 126, 226);
}
